.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    gap: 5px;
    align-items: center;
}

.tw_followCard-avatar{
    height: 50px;
    border-radius: 50%;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName{
    opacity: .6;
}

.tw-followCard-button{
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: 0;
    padding: 8px 18px;
    margin-left: 18px;
    transition: .3s ease all ;
    width: 145px;
}

.tw-followCard-button.isFollowing{
    border: 1px solid #bbb;
    color: #fff;
    background-color: transparent;
    width: 145px;
}

.tw-followCard-button.isFollowing:hover{
    background-color: rgba(255, 0, 0, 0.068);
    color: red;
    border: red 1px solid;
}

.tw-followCard-button:hover{
    opacity: .8;
}

.tw-followCard-stopFollow{
    transition: .3s ease all;
    display: none;
}

.tw-followCard-button.isFollowing:hover .tw-followCard-stopFollow{
    display: block;
}

.tw-followCard-button.isFollowing:hover .tw-followCard-follow{
    display: none;
}